# Mac OS
.DS_Store

# Node
code/node_modules

# Jetbrains IDE
.idea

# Max Application
*.maxproj
_DeletedItems
recordings/*
!recordings/.gitkeep

# Webpack
code/dist/*
!code/dist/.gitkeep

# Cache files
code/cache/*
!code/cache/.gitkeep

# Logs
logs/*.log

# Environment
.env

# Media
media
